<div id="<%= dom_id membership %>">
  <p>
    <strong>Beer club:</strong>
    <%= membership.beer_club.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= membership.user.username %>
  </p>

</div>
