<h1>Memberships</h1>

<div id="memberships">
  <% @memberships.each do |membership| %>
    <p>
    <%= membership.to_s %>
    </p>
    <p>
      <%= link_to "Show this membership", membership %>
    </p>
  <% end %>
</div>

<%= link_to "New membership", new_membership_path %>
