<%= turbo_stream_from "breweries_index" %>

<h1>Breweries</h1>

<h2>Active</h2>

<%= turbo_frame_tag "active", src: active_breweries_path do %>
  Fetching brewery data...
<% end %>

<h2>Retired</h2>

<%= turbo_frame_tag "retired", src: retired_breweries_path do %>
  Fetching brewery data...
<% end %>

<p><%= turbo_frame_tag "new_brewery", src: new_brewery_path if current_user %></p>
